lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc
*.zip
settings.py
.installed.cfg
bin
develop-eggs
dist
downloads
backup
eggs
parts
src/*.egg-info
lib
lib64

pids
logs
results

node_modules
npm-debug.log
out.txt
