extends layout

block mainContent
  h2 General Information
  p
    img(src='/static/img/family.jpg', style='float:left; margin-right:30px;', width='179', height='268')
    p I live in Windsor, Ontario, Canada where I lived (other than University) since I was born on March 01, 1981.
    p I spend most of my time reading various books, programming, and doing work. My greatest fields of interest are P2P, digital image processing, number theory, compression, and changing diapers.  
    p I am a primarily a C++, C#, Python, and JavaScript software developer.
    p Other than work and geek things, I also spend a lot of time with my wife Shannon, and twin boys: Link &amp; Ronnie.
    p As of July 6th, 2011 I do full time work for Mozilla working on the Firefox browser.

    h2 Facts about me
    p
      img(src='/static/img/brian-ronnie.jpg', width='219', height='476', style='float:right; margin-left:30px;')
      ul
        li I drink a lot of coffee and usually spill it on myself
        li I'm married to the beautiful Shannon L. Bondy (Formerly Gray)
        li I have twin boys
        li I have a red tri-colored border collie named "Leia". (and yes that's after Star Wars)
        li I have a bachelors degree in Computer Science Honors in the Faculty of Mathematics at Waterloo University
        li I have a black belt (Shodan) in Meibukan Goju Ryu Karate
        li I work on Firefox and love it
        li My favorite teacher is <a href='http://en.wikipedia.org/wiki/Salman_Khan_(educator)'>Salman Khan</a>, and I plan to learn for life from his teachings on every subject
        li My favorite music artist is Ray Charles
        li My favorite movies are Braveheart, The Last Samurai, Ray
        li My favorite T.V. shows are&nbsp;Futurama, Family Guy, South Park, Simpsons, Tudors, Apprentice, and Survivor
        li My favorite place to go for a nice meal is the Red Sun - Chinese food
        li My favorite coffee shop is Tim Hortons
        li My favorite plays are&nbsp;Phantom of the Opera, and Les Miserables
        li  have two cats named "Sophie" and "Lil" (and we found out Lil was really a boy after a year of thinking he was a girl with the name Lillie)
        li I was born on March 01, 1981
        li I was born and raised on a farm.  I'm glad that the hard work is over.
        li I'm a home body, but I do like to go out (just not to bars and that stuff).&nbsp; I'd rather do constructive things with my time
        li I love to learn.&nbsp; If I'm not learning, then I lose interest quick.&nbsp; I need to be challenged... owning a business really helps with this
        li I have ownership <strike>in 2 companies which I co-founded: ROBOBAK and VisionWorks Solutions Inc.</strike> in the company that acquired ROBOBAK
        li I was awarded a <a href="http://goo.gl/7KZGk">Microsoft MVP</a> award for Visual C++ July 2010 - July 2011
        li: :markdown
          It is a dream of mine to one day be a winner of the [Hutter Prize](http://prize.hutter1.net/)
