extends other

block mainContent
  h2 What is this section?
  p This section of my page will be used for mini tutorials and in general questions that I've been asked before, and want to answer.  It will have articles/posts for many different levels of computer users, as well as interest types.

  h2 Computer science articles/posts
  p
  ul
    li: :markdown
      **Article:** Understanding GIF Decoding: [[doc]](/static/downloads/articles/gif.doc)
      **Covered topics:** GIF, Adaptive LZW decompression
      **Description:** An analysis of GIF decompression along with examples and samples.
      **For who:** Anyone that wants to learn about how the GIF decoding works.
    li: :markdown
      **Article:** Information Reuse in Multiple Forms: [[pdf]](/static/downloads/articles/XML.pdf)
      **Covered topics:** XML, XSLT, CSS, XSL-FO and more
      **Description:** An analysis of the above technologies and how they fit into today's workforce.
      **For who:** Anyone that wants to waste some time.
    li: :markdown
      **Article:** PPM, PGM, PBM File Formats: [[doc]](/static/downloads/articles/ppm.doc)
      **Covered topics:** PPM, PGM, PBM
      **Description:** A description of the above file formats
      **For who:** Anyone that wants to have support in their product for these file types.
    li: :markdown
      **Article:** FTP Analysis and Suggestions: [[doc]](/static/downloads/articles/ftpAnalysis.doc)
      **Covered topics:** FTP, FTPS
      **Description:** A description of useful ways to improve the FTP protocol
      **For who:** Anyone that wants to waste more time
