extends layout

block mainContent
  h2 How to get in touch with me
  p I'm always open to a conversation about any topic.  You can establish an initial contact with me at netzen [at] gmail.com.  Once you email me here, we can discuss alternative means of communication such as phone, email, or IM.
