extends other

block mainContent
  h2 How to get in touch with me
  p: ul
    li: :markdown
      Why do you bother with this site?
      I like to write and I want to have an online presence.
    li: :markdown
      How many people visit your site?
      I have no idea, probably not that many.
    li: :markdown
      What are your biggest interests?
      I love reading and working on computer science related projects.  I go into this a little more in the about me section.
    li: :markdown
      Why did you learn braille?
      I've also always been interested in different ways to interpret data. This is a great example that is widely in use.
    li: :markdown
      Why don't you update your site often?
      Mainly because I'm too busy. If I had the time I would.  Stay tuned... maybe I'll be less busy soon.
    li: :markdown
      Why are there so many spelling and grammar errors on your page?
      Because you haven't reported them to me yet.  See the contact me page.
    li: :markdown
      Why is your F.A.Q so short?
      Because with so few visitors I don't exactly have frequently asked questions.
