extends math

block mainContent
  h2 What is graph theory?
  p Graph theory is of particular interest to both mathematics and computer science.
  p Graph theory is the study of graphs.  A graph is a collection of nodes or vertices and edges which connect those vertices together.
