extends layout

block extraDIV
  #sidebar2
    ul
      li: a(href='/khanacademy/') Main
      li: a(href='/khanacademy/cheatsheet') Cheat Sheet

block mainContent
  h2 Khan Academy
  ul: li
    a(href='/khanacademy/cheatsheet/') Development Cheat Sheet:
    | Common commands and resources used for developing Khan Academy related technologies.

