extends other

block mainContent
  h2 Broken links?
  p Please report any broken links to brianb [at] vwsolutions.com

  h2 Tutorial sites
  ul
    li: a(href='http://diveintohtml5.org/') HTML5 tutorial
    li: a(href='http://msdn.microsoft.com') MSDN help files

  h2 Astronomy sites
  ul
    li: a(href='http://www.nasa.gov') NASA
    li: a(href='http://www.space.com') space.com
    li: a(href='http://setiathome.ssl.berkeley.edu') SETI@HOME

  h2 Computer Science related sites
  ul
    li: a(href="http://www.trolltech.com") Trolltech - Makers of the amazing Qt
    li: a(href="http://www.wotsit.org/") Just about every file format explained
    li: a(href="http://www.math.uwaterloo.ca/mfcf/documentation/index.html") Misc UWaterloo tutorials
    li: a(href="http://www.w3c.org") W3C - The people who define web standards
    li: a(href="http://www.mozilla.org") Makers of the best internet browsers and related tools on the net
    li: a(href="http://www.cs.uwaterloo.ca") University of Waterloo Computer Science
    li: a(href="http://www.kevinwarwick.com") Kevin Warwick - The cyborg behind the man

  h2 Misc sites
  ul
    li: a(href="http://www.slashdot.org") Slashdot - News for nerds
    li: a(href="http://www.oreilly.com") O'Reilly - My favorite book publisher
    li: a(href="http://www.dictionary.com") Online dictionary
    li: a(href="http://www.howstuffworks.com/") How Stuff Works - answers to anything and everything
    li: a(href="http://www.chapters.ca") Chapters - Online book store
    li: a(href="http://www.amazon.ca") Amazon - Online book store
    li: a(href="http://www.bored.com") A good site if you're bored
    li: a(href="http://www.expectnothing.com") Expect Nothing - Misc news and rants
    li: a(href="http://www.blizzard.com") Blizzard - My favorite gaming company
    li: a(href="http://www.southparka.com") Up to date South Park episodes
