extends other

block mainContent
  h2 Morse Code overview
  p Morse code has a 1-1 alphabetical to short/long beep code combo.
  p Morse code is a system of representing letters, numbers and punctuation marks by means of a code signal sent intermittently. It was developed by Alfred Vail while he was helping Samuel Morse with Morse's invention of the telegraph in 1835.
  p Morse code is an early form of digital communication, however unlike modern binary digital codes that use just two states (commonly represented as 1 and 0), it uses five: dot (·), dash (-), short gap (between each letter), medium gap (between words) and long gap (between sentences).

  h2 Basic Morse Code alphabet
  p.
    <TABLE id="MorseCodeTable">
    <TR>
    <TD>A</TD>
    <TD>.-</TD>

    </TR>
    <TR>
    <TD>B</TD>
    <TD>-...</TD>
    </TR>
    <TR>
    <TD>C</TD>

    <TD>-.-.</TD>
    </TR>
    <TR>
    <TD>D</TD>
    <TD>-..</TD>
    </TR>
    <TR>

    <TD>E</TD>
    <TD>.</TD>
    </TR>
    <TR>
    <TD>F</TD>
    <TD>..-.</TD>
    </TR>

    <TR>
    <TD>G</TD>
    <TD>--.</TD>
    </TR>
    <TR>
    <TD>H</TD>
    <TD>....</TD>

    </TR>
    <TR>
    <TD>I</TD>
    <TD>..</TD>
    </TR>
    <TR>
    <TD>J</TD>

    <TD>.---</TD>
    </TR>
    <TR>
    <TD>K</TD>
    <TD>-.-</TD>
    </TR>
    <TR>

    <TD>L</TD>
    <TD>.-..</TD>
    </TR>
    <TR>
    <TD>M</TD>
    <TD>--</TD>
    </TR>

    <TR>
    <TD>N</TD>
    <TD>-.</TD>
    </TR>
    <TR>
    <TD>O</TD>
    <TD>---</TD>

    </TR>
    <TR>
    <TD>P</TD>
    <TD>.--.</TD>
    </TR>
    <TR>
    <TD>Q</TD>

    <TD>--.-</TD>
    </TR>
    <TR>
    <TD>R</TD>
    <TD>.-.</TD>
    </TR>
    <TR>

    <TD>S</TD>
    <TD>...</TD>
    </TR>
    <TR>
    <TD>T</TD>
    <TD>-</TD>
    </TR>

    <TR>
    <TD>U</TD>
    <TD>..-</TD>
    </TR>
    <TR>
    <TD>V</TD>
    <TD>...-</TD>

    </TR>
    <TR>
    <TD>W</TD>
    <TD>.--</TD>
    </TR>
    <TR>
    <TD>X</TD>
    <TD>-..-</TD>
    </TR>
    <TR>
    <TD>Y</TD>
    <TD>-.--</TD>
    </TR>
    <TR>

    <TD>Z</TD>
    <TD>--..</TD>
    </TR>
    <TR>
    <TD>@</TD>
    <TD>.--.-.</TD>
    </TR>
    </table>
