extends math

block mainContent
  h2 What is number theory?
  p Number theory is the branch of mathematics which studies the properties and theories relating to whole numbers. 
  p Some topics in number theory include factorization, modular arithmetic, diophantine equations, primes, and much more.
