extends layout

block extraDIV
  #sidebar2
    ul
      li: a(href='/other/advice/') Advice
      li: a(href='/other/articles/') Articles
      li: a(href='/other/books/') Books
      li: a(href='/other/braille/') Braille
      li: a(href='/other/faq/') F.A.Q.
      li: a(href='/other/links/') Links
      li: a(href='/other/morseCode/') Morse Code
      li: a(href='/other/universityClasses/') University Classes

block mainContent
  h2 Unrelated topics
  p Select from the list of unrelated topics on the right hand side. 
