extends layout

block extraDIV
  #sidebar2
    ul 
      li: a(href='/stackexchange/') Main
      li: a(href='/stackexchange/#social-networks') Twitter per user
      li: a(href='/stackexchange/#expected-age') Expected age per tag

block mainContent
  a(name="social-networks")
  h2 Twitter, LinkedIn, Facebook Stack Exchange lists
  p I mined the Stack Overflow (and related sites) data dumps to extract the social networking accounts of the top users.  Each list includes only the users who have social networking links in their profile, and each list is sorted by the highest reputation users first. 
  p These lists may be useful to stay up to date on technology, connect with your StackExchange peers, or even for technical recruiters.
  ul
    li 
      p StackOverflow
        ul.simple-list
          li: a(href='/stackexchange-twitter/stackoverflow/') Twitter
          li: a(href='/stackexchange-linkedin/stackoverflow/') LinkedIn
          li: a(href="/stackexchange-facebook/stackoverflow/") Facebook
    li
      p ServerFault
        ul.simple-list
          li: a(href='/stackexchange-twitter/serverfault/') Twitter
          li: a(href='/stackexchange-linkedin/serverfault/') LinkedIn
          li: a(href="/stackexchange-facebook/serverfault/") Facebook
    li
      p SuperUser
        ul.simple-list
          li: a(href='/stackexchange-twitter/superuser/') Twitter
          li: a(href='/stackexchange-linkedin/superuser/') LinkedIn
          li: a(href="/stackexchange-facebook/superuser/") Facebook
    li
      p Android
        ul.simple-list
          li: a(href='/stackexchange-twitter/android/') Twitter
          li: a(href='/stackexchange-linkedin/android/') LinkedIn
          li: a(href="/stackexchange-facebook/android/") Facebook
    li
      p Apple
        ul.simple-list
          li: a(href='/stackexchange-twitter/apple/') Twitter
          li: a(href='/stackexchange-linkedin/apple/') LinkedIn
          li: a(href="/stackexchange-facebook/apple/") Facebook
    li
      p Cooking
        ul.simple-list
          li: a(href='/stackexchange-twitter/cooking/') Twitter
          li: a(href='/stackexchange-linkedin/cooking/') LinkedIn
          li: a(href="/stackexchange-facebook/cooking/") Facebook
    li
      p Do It Yourself
        ul.simple-list
          li: a(href='/stackexchange-twitter/doityourself/') Twitter
          li: a(href='/stackexchange-linkedin/doityourself/') LinkedIn
          li: a(href="/stackexchange-facebook/doityourself/") Facebook
    li
      p Electronics
        ul.simple-list
          li: a(href='/stackexchange-twitter/electronics/') Twitter
          li: a(href='/stackexchange-linkedin/electronics/') LinkedIn
          li: a(href="/stackexchange-facebook/electronics/") Facebook
    li
      p English Language and Usage
        ul.simple-list
          li: a(href='/stackexchange-twitter/englishusage/') Twitter
          li: a(href='/stackexchange-linkedin/englishusage/') LinkedIn
          li: a(href="/stackexchange-facebook/englishusage/") Facebook
    li
      p Game Development
        ul.simple-list
          li: a(href='/stackexchange-twitter/gamedevelopment/') Twitter
          li: a(href='/stackexchange-linkedin/gamedevelopment/') LinkedIn
          li: a(href="/stackexchange-facebook/gamedevelopment/") Facebook
    li
      p Gaming
        ul.simple-list
          li: a(href='/stackexchange-twitter/gaming/') Twitter
          li: a(href='/stackexchange-linkedin/gaming/') LinkedIn
          li: a(href="/stackexchange-facebook/gaming/") Facebook
    li
      p Geographic Information Systems
        ul.simple-list
          li: a(href='/stackexchange-twitter/gis/') Twitter
          li: a(href='/stackexchange-linkedin/gis/') LinkedIn
          li: a(href="/stackexchange-facebook/gis/") Facebook
    li
      p Mathematics
        ul.simple-list
          li: a(href='/stackexchange-twitter/mathematics/') Twitter
          li: a(href='/stackexchange-linkedin/mathematics/') LinkedIn
          li: a(href="/stackexchange-facebook/mathematics/") Facebook
    li
      p Photography
        ul.simple-list
          li: a(href='/stackexchange-twitter/photography/') Twitter
          li: a(href='/stackexchange-linkedin/photography/') LinkedIn
          li: a(href="/stackexchange-facebook/photography/") Facebook
    li
      p Programmers
        ul.simple-list
          li: a(href='/stackexchange-twitter/programmers/') Twitter
          li: a(href='/stackexchange-linkedin/programmers/') LinkedIn
          li: a(href="/stackexchange-facebook/programmers/") Facebook
    li
      p StackApps
        ul.simple-list
          li: a(href='/stackexchange-twitter/stackapps/') Twitter
          li: a(href='/stackexchange-linkedin/stackapps/') LinkedIn
          li: a(href="/stackexchange-facebook/stackapps/") Facebook
    li
      p Statistical Analysis
        ul.simple-list
          li: a(href='/stackexchange-twitter/statisticalanalysis/') Twitter
          li: a(href='/stackexchange-linkedin/statisticalanalysis/') LinkedIn
          li: a(href="/stackexchange-facebook/statisticalanalysis/") Facebook
    li
      p TeX - LaTeX
        ul.simple-list
          li: a(href='/stackexchange-twitter/texlatex/') Twitter
          li: a(href='/stackexchange-linkedin/texlatex/') LinkedIn
          li: a(href="/stackexchange-facebook/texlatex/") Facebook
    li
      p Theoretical Computer Science
        ul.simple-list
          li: a(href='/stackexchange-twitter/theoreticalcs/') Twitter
          li: a(href='/stackexchange-linkedin/theoreticalcs/') LinkedIn
          li: a(href="/stackexchange-facebook/theoreticalcs/") Facebook
    li
      p Ubuntu
        ul.simple-list
          li: a(href='/stackexchange-twitter/ubuntu/') Twitter
          li: a(href='/stackexchange-linkedin/ubuntu/') LinkedIn
          li: a(href="/stackexchange-facebook/ubuntu/") Facebook
    li
      p Unix
        ul.simple-list
          li: a(href='/stackexchange-twitter/unix/') Twitter
          li: a(href='/stackexchange-linkedin/unix/') LinkedIn
          li: a(href="/stackexchange-facebook/unix/") Facebook
    li
      p Webmasters
        ul.simple-list
          li: a(href='/stackexchange-twitter/webmasters/') Twitter
          li: a(href='/stackexchange-linkedin/webmasters/') LinkedIn
          li: a(href="/stackexchange-facebook/webmasters/") Facebook
    li
      p Web Applications
        ul.simple-list
          li: a(href='/stackexchange-twitter/webapplications/') Twitter
          li: a(href='/stackexchange-linkedin/webapplications/') LinkedIn
          li: a(href="/stackexchange-facebook/webapplications/") Facebook
    li
      p Wordpress
        ul.simple-list
          li: a(href='/stackexchange-twitter/wordpress/') Twitter
          li: a(href='/stackexchange-linkedin/wordpress/') LinkedIn
          li: a(href="/stackexchange-facebook/wordpress/") Facebook



  a(name="expected-age")
  h2 StackExchange average age of users for each tag
  p I thought it would be interesting to calculate the average age of users on each StackExchange site, and even more interesting to see each tag within those sites.  I call the statistic the Expectd Age because it is calculated using Expected Value from statistics.
  ul
    li: a(href='/stackexchange/expected-age/stackoverflow/') StackOverflow
    li: a(href='/stackexchange/expected-age/serverfault/') ServerFault
    li: a(href='/stackexchange/expected-age/superuser/') SuperUser
    li: a(href='/stackexchange/expected-age/android/') Android
    li: a(href='/stackexchange/expected-age/apple/') Apple
    li: a(href='/stackexchange/expected-age/cooking/') Cooking
    li: a(href='/stackexchange/expected-age/doityourself/') Do It Yourself
    li: a(href='/stackexchange/expected-age/electronics/') Electronics
    li: a(href='/stackexchange/expected-age/englishusage/') English Language and Usage
    li: a(href='/stackexchange/expected-age/gamedevelopment/') Game Development
    li: a(href='/stackexchange/expected-age/gaming/') Gaming
    li: a(href='/stackexchange/expected-age/gis/') Geographic Information Systems
    li: a(href='/stackexchange/expected-age/mathematics/') Mathematics
    li: a(href='/stackexchange/expected-age/photography/') Photography
    li: a(href='/stackexchange/expected-age/programmers/') Programmers
    li: a(href='/stackexchange/expected-age/stackapps/') StackApps
    li: a(href='/stackexchange/expected-age/statisticalanalysis/') Statistical Analysis
    li: a(href='/stackexchange/expected-age/texlatext/') TeX - LaTeX
    li: a(href='/stackexchange/expected-age/theoreticalcs/') Theoretical Computer Science
    li: a(href='/stackexchange/expected-age/ubuntu/') Ubuntu
    li: a(href='/stackexchange/expected-age/unix/') Unix
    li: a(href='/stackexchange/expected-age/webmasters/') Webmasters
    li: a(href='/stackexchange/expected-age/webapplications/') Web Applications
    li: a(href='/stackexchange/expected-age/wordpress/') Wordpress
