extends other 

block mainContent
  h2 Classes I found most interesting
  p Listed below is a list of only the important courses that come to mind that I liked and have taken.</P>

  h2 Math courses
  p: ul
    li: a(href="http://www.student.math.uwaterloo.ca/%7Eco485") CO485 The Mathematics of Public-Key Cryptography
    li: a(href="http://www.student.math.uwaterloo.ca/%7Epmath340") PMATH340 Elementary Number theory
    li: a(href="http://www.student.math.uwaterloo.ca/%7Estat230") STAT230 Probability
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Eco350") CO350 Linear Optimization
    li: a(href="http://www.student.math.uwaterloo.ca/%7Emath239") MATH239 Introduction to Combinatorics
    li: a(href="http://www.student.math.uwaterloo.ca/%7Emath235") MATH235 Linear Algebra 2
    li: a(href="http://www.student.math.uwaterloo.ca/%7Emath138") MATH 138 Calculus 2
    li: a(href="http://www.student.math.uwaterloo.ca/%7Emath136") MATH136 Linear Algebra 1
    li: a(href="http://www.student.math.uwaterloo.ca/%7Emath135") MAT135 Algebra for Honours Mathematics
    li: a(href="http://www.student.math.uwaterloo.ca/%7Emath137") Math137 Calculus 1

  h2 Computer Science courses
  p: ul
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs488") CS488 Computer Graphics
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs486") CS486 Artificial Intelligence
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs456") CS456 Computer Networks
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs341") CS341 Algorithms
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs354") CS354 Operating Systems
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs360") CS360 Introduction to the Theory of Computing
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs342") CS342 Control Structures
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs370") CS370 Numerical Computation
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs240") CS240 Data Structures and Data Management
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs251") CS251 Digital Design and Architecture
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs246") CS246 Software Abstraction and Specification
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs241") CS241 Foundations of Sequential Programs
    li: a(href="http://www.student.cs.uwaterloo.ca/%7Ecs134") CS134 Principles of Computer Science 1

  h2 Physics courses
  p: ul
    li PHYS121 Mechanics, Wave Motion and Heat 1
    li SCI238 Introduction to Astronomy
