extends other

block mainContent
  h2 What's your external IP?
  p Your external IP is {{client_IP}}
  p Unless you have paid specifically for a static IP address, then your IP address can and probably will change quite often.
  p It is hard for a computer to determine its own external IP address.  For this reason I have provided this page to help you determine your external IP address.  That is because the external IP address does not belong to the computer itself but it belongs to a network device called a NAT or router which your requests end up coming from.
